<section>
    <!-- Hero card -->
    <div class="relative">
        <div class="max-w-full mx-auto">
            <div class="relative shadow-xl sm:overflow-hidden">
                <div class="absolute inset-0">
                    <img
                        class="object-cover w-full h-full"
                        src="https://images.unsplash.com/photo-1556727889-289d526d14cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80"
                        alt="People working on laptops">
                        <div class="absolute inset-0 bg-gray-400 mix-blend-multiply"></div>
                    </div>
                    <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                        <h1 class="text-4xl font-extrabold tracking-tight text-center sm:text-5xl lg:text-6xl">{# <span class="block text-gray-100">European Projects Management</span> #}
                            {# <span class="block text-indigo-200">customer support</span> #}
                        </h1>
                        <h1 class="text-2xl font-bold tracking-tight text-center sm:text-5xl lg:text-5xl">
                            <span class="block text-gray-100">The leading development assistance consultancy in the Baltics.</span>
                            {# <span class="block text-indigo-200">customer support</span> #}
                        </h1>
                        <p class="max-w-lg mx-auto mt-6 text-xl text-center text-gray-100 sm:max-w-3xl">The leading development assistance
                            consultancy in the Baltics.</p>
                    </div>
                </div>
            </div>
        </section>