<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white">
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:py-16 lg:px-8">
        <p class="text-base font-semibold tracking-wider text-center text-gray-600 uppercase">Trusted by over 5 very average
            small businesses</p>
        <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
            <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-50">
                <img class="max-h-12" src="https://tailwindui.com/img/logos/transistor-logo-gray-400.svg" alt="Workcation">
            </div>
            <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-50">
                <img class="max-h-12" src="https://tailwindui.com/img/logos/mirage-logo-gray-400.svg" alt="Mirage">
            </div>
            <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-50">
                <img class="max-h-12" src="https://tailwindui.com/img/logos/tuple-logo-gray-400.svg" alt="Tuple">
            </div>
            <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-50">
                <img class="max-h-12" src="https://tailwindui.com/img/logos/laravel-logo-gray-400.svg" alt="Laravel">
            </div>
            <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-50">
                <img class="max-h-12" src="https://tailwindui.com/img/logos/statickit-logo-gray-400.svg" alt="StaticKit">
            </div>
            <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-50">
                <img class="max-h-12" src="https://tailwindui.com/img/logos/statamic-logo-gray-400.svg" alt="Statamic">
            </div>
        </div>
    </div>
</div>