<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pt-12">
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <p class="text-base font-semibold tracking-wider text-center uppercase text-sky-600">Trusted by top EU development assistance consultancy partners</p>
        <div class="grid grid-cols-2 gap-8 mt-6 opacity-50 md:grid-cols-6 lg:grid-cols-5">
            <div class="flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
                <img class="h-12 grayscale" src="/assets/img/logo-dai.png" alt="DAI Global logo">
            </div>
            <div class="flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
                <img class="h-12 grayscale" src="/assets/img/logo-gopa.svg" alt="GOPA logo">
            </div>
            <div class="flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
                <img class="h-12 opacity-75 grayscale" src="/assets/img/logo-weglobal.png" alt="WEglobal logo">
            </div>
            <div class="flex justify-center col-span-1 md:col-span-3 lg:col-span-1">
                <img class="h-12 grayscale" src="/assets/img/logo-ice.png" alt="ICE logo">
            </div>
            <div class="flex justify-center col-span-2 md:col-span-3 lg:col-span-1">
                <img class="h-12 grayscale" src="/assets/img/logo-ibf.png" alt="IBF logo">
            </div>
        </div>
    </div>
</div>