{% extends 'default.njk' %}
{% block body %}
  <article
    class="container px-4 py-16 prose sm:px-6 lg:px-8 lg:prose-xl prose-code:bg-gray-100">
    <!-- header -->
    <header class="mx-auto text-lg max-w-prose">
      <p class="text-base font-semibold tracking-wider text-center uppercase text-sky-600">{{ category }}</p>
      <h1>
        <span class="block mt-2 text-3xl font-extrabold leading-8 tracking-tight text-center text-gray-900 sm:text-4xl">{{ title }}</span>
      </h1>
      <p class="mt-8 text-xl leading-8 text-gray-500">{{ description }}</p>
    </header>
    <!-- image -->
    <figure>
      <img class="w-full" src="{{ image }}" alt="" width="1600" height="900">
        <figcaption class="text-gray-500">{{ image_alt }}</figcaption>
      </figure>
      <div class="text-gray-800">
        {{ content | safe }}
      </div>
    </article>
  {% endblock %}`