---
eleventyNavigation:
  key: Home
  order: 1
---

{% set title = 'Home' %}
{% extends "home.njk" %}

{% block body %}
  <!-- Hero section -->
  {% include 'home/hero.njk' %}
  
  <!-- Services section -->
  {% include 'home/services.njk' %}

  <!-- Services section with Grid -->
  {# {% include 'home/services-grid.njk' %} #}

  <!-- Logo section with Grid -->
  {# {% include 'home/logo-grid.njk' %} #}

  <!-- Logo section -->
  {% include 'home/logo.njk' %}

  <!-- Stats section in card -->
  {% include 'home/stats-card.njk' %}

  <!-- Stats section on brand -->
  {# {% include 'home/stats-brand.njk' %} #}

{% endblock %}
