---
title: News
description: Latest project news
layout: default
eleventyNavigation:
  key: News
  order: 2
pagination:
  data: collections.news
  size: 10
  alias: news
---
<!-- News section -->
<div class="px-4 pt-16 pb-20 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
  <div class="relative max-w-lg mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">

    <header>
      <h1 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{ title }}</h1>
      <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
        <p class="text-xl text-gray-500">{{ description }}</p>
      </div>
    </header>

    <div class="grid gap-16 py-10 my-6 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-12">
      {% for news in news | reverse %}
        <div class="flex">
            <div class="flex-shrink-0">
              <img class="object-cover w-48 h-full"
                src="{{ news.data.image }}"
                alt="{{ news.data.image_alt }}">
            </div>
          <div class="ml-4">
            <div class="flex items-baseline">
              <a href="{{ news.url }}" class="">
                <span class="text-sky-500 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-sky-50 "> {{ news.data.category | capitalize }} </span>
              </a>
              <p class="ml-3 text-sm text-gray-500">
                <time datetime="2020-03-16">{{ news.data.date | postDate }}</time>
              </p>
            </div>
            <a href="{{ news.url }}" class="block mt-2">
              <p class="text-xl font-semibold text-gray-900">{{ news.data.title }}</p>
              <p class="mt-3 text-base text-gray-500">{{ news.data.description }}</p>
            </a>
            <div class="mt-3">
              <a href="{{ news.url }}" class="text-base font-semibold text-sky-600 hover:text-sky-500">Read full story</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% include 'partials/pagination.njk' %}

  </div>
</div>