<footer class="w-full bg-gray-600">
  <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
        {%- for entry in collections.all | eleventyNavigation %}
        <div class="px-5 py-2">
            <a href="{{ entry.url | url }}" class="text-base text-gray-300 hover:text-gray-100"> {{ entry.title }} </a>
        </div>
        {% endfor %}
    </nav>
    <p class="mt-8 text-base text-center text-gray-400">&copy; 2022 EPM. All rights reserved.
      <span aria-hidden="true"> &middot; </span>
      <a href="/privacy-policy/" class="hover:underline hover:text-gray-300">Privacy</a>
      <span aria-hidden="true"> &middot; </span>
      Made by <a href="https://www.grittypublishing.com" class="hover:underline hover:text-gray-300">Gritty Publishing</a> </p>
  </div>
</footer>